.menu-list {
  background-color: #20409a;
  color: white;
  border-bottom: 1px solid black;
  margin-top: 1%;
  li {
      padding: 0px 20px;
      border-left: 1px solid #e0e5ea;
  }
}
.logoHeader {
  width: 360px;
  height: 95px;
  padding: 10% 0% 0% 0%;
  float: left;
}
.header-items {
  padding: 10px;
}