<nz-affix>
  <div class="row">
    <div class="col-md-3 header-items" style="border-right:1px solid #e0e5ea;">
      Ryan
    </div>
    <div class="col-md-6 header-items" style="text-align:center">
      <form action="search()"></form>
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 40%;">
        <input style="border-radius: 50px;" type="text" nz-input placeholder="Cari Berita" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>
    <div class="col-md-3 header-items" style="border-left:1px solid #e0e5ea;float: left;">
      <button nz-button nzType="primary" nzShape="round" style="margin-right:5px">Daftar KabarXXI</button>
      <button nz-button nzType="default" nzShape="round">Login</button>
    </div>
  </div>
</nz-affix>
<div class="container">
    <div class="col-md-12 justify-content-between">
        <div class="row">
          <div class="col-md-4">
            <img (click)="imageBannerClick()" class="logoHeader" src="../../../../assets/img/logoKabarxxi.png" alt="">
          </div>
          <div class="col-md-8" style="padding:0%">
            <div class="ads-header">
              728 X 90
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container content-1">
    <div class="classy-navbar justify-content-between">
      <ul nz-menu [nzMode]="'horizontal'">
        <li nz-menu-item>Nasional</li>
        <li nz-submenu>
          <span title>Daerah</span>
          <ul>
            <li nz-menu-item>MEGAPOLITAN</li>
            <li nz-menu-item>HUKRIM</li>
            <li nz-menu-item>PERISTIWA</li>
            <li nz-menu-item>PENDIDIKAN</li>
            <li nz-menu-item>EKONOMI</li>
            <li nz-menu-item>POLITIK</li>
            <li nz-menu-item>INFO DAN TIPS</li>
            <li nz-menu-item>OPINI</li>
          </ul>
        </li>
        <li nz-menu-item>MEGAPOLITAN</li>
        <li nz-menu-item>HUKRIM</li>
        <li nz-menu-item>PERISTIWA</li>
        <li nz-menu-item>PENDIDIKAN</li>
        <li nz-menu-item>EKONOMI</li>
        <li nz-menu-item>POLITIK</li>
        <li nz-menu-item>INFO DAN TIPS</li>
        <li nz-menu-item>OPINI</li>
      </ul>
    </div>
  </div>
  <div class="container content-2">
    <div class="img-main-ads"></div>
</div>