.laman-link {
    padding: 5px;
    color: white;
    text-align: center;
    a{
        font-size: 1rem;
        padding: 5px;
        // border-right: 1px solid #e6e2e2;
        color: white;
        text-decoration: none;
    }
    a :hover{
        background: white;
        animation-delay: 2s;
    }
}
.copiright{
    text-align: center;
    background-color: #1b3682;
    color: #b3b9bd;
    padding: 15px 0px;
    font-size: 12px;
}.logo-playstore img{
    float: right;
}