<div class="container adv" style="padding:0">
  <div nz-row>
    <div class="section-heading">
      <h5>Advertiser</h5>
    </div>
    <div class="advertiser" *ngFor="let item of dataBerita" nz-col nzSpan="6">
      <img [src]="config.fileSaverImage+item.base64Image" alt="">
    </div>
  </div>
</div>
<div class="container footer" style="background-color:#222222;margin-top: 1%">
  <div class="row">
    <div class="col-md-6 logo-footer">
      <img (click)="imageBannerClick()" class="imageHeader" src="../../../../assets/img/logoKabarxxi.png">
    </div>
    <div class="col-md-6 logo-playstore">
      <img href="https://play.google.com/store/apps/details?id=com.wKabarXXI_7875180" class="imageHeader" src="../../../../assets/img/googleKabarxxi.png">
    </div>
    <div class="col-md-12 laman-link">
      <hr>
      <a (click)="laman('Syarat Dan Ketentuan')" class="btn primary min">Syarat Dan Ketentuan</a>
      .
      <a (click)="laman('About')" class="btn primary min">About</a>
      .
      <a (click)="laman('Contact')" class="btn primary min">Contact</a>
      .
      <a (click)="laman('Redaksi')" class="btn primary min">Redaksi</a>
      .
      <a (click)="laman('Pedoman Media Siber')" class="btn primary min">Pedoman Media Siber</a>
      .
      <a (click)="laman('Kontributor Berita')" class="btn primary min">Kontributor Berita</a>
      .
      <a (click)="laman('Kebijakan Privasi')" class="btn primary min">Kebijakan Privasi</a>
    </div>
    <div class="col-md-12 copiright">
      Copyright © 2019 KabarXXI.Com. All rights reserved
    </div>
  </div>
</div>