.content-berita {
  padding: 2%;
  background-color: #fff;
  .social-media-icon {
    float: left;
  }
  .detail-berita {
    padding: 0%;
    h3 {
      margin-top: 1%;
      color: #21409b;
      font-weight: bold;
      line-height: 120%;
      letter-spacing: -0.5px;
    }
    .image-berita {
      padding: 2% 0px;
    }
    .pokok-berita {
      img {
        width: 100%;
      }
    }
    .komentar {
      .title-komentar {
        padding: 10px 15px 5px;
        color: #8d8d8d;
        background: #e6e6e6;
        border-bottom: 1px solid #cdcdcd;
        font-size: 18px;
        margin: 2% 0%;
      }
      .komen-box {
        border: 1px solid silver;
        border-radius: 4px;
      }
    }
  }
}
