<nz-layout class="layout">
  <app-header></app-header>
  <nz-content style="padding:0 50px;margin-top:10px;">
    <div class="container main-content">
      <div class="row">
        <div class="col-md-8 content-berita">
          <div nz-row style="margin-top: 2%">
            <div nz-col nzSpan="12">
              <nz-breadcrumb>
                <nz-breadcrumb-item>
                  Home
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                  <a>Application List</a>
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>
                  An Application
                </nz-breadcrumb-item>
              </nz-breadcrumb>
            </div>
            <div nz-col nzSpan="12">
              <span class="social-media-icon">Ikuti Kami di</span>
            </div>
          </div>
          <br><br>
          <div class="col-md-12 detail-berita">
            <span>Jumat 26 April 2019, 10:51 WIB</span>
            <h3>
              Kasudin Penddikan Wilayah II Jakarta Barat Gelar Try Out dan Pembinaan Guru di SDN Jelambar 08
            </h3>
            <span>Admin - KabarXXi</span>
            <div class="sosmed">
              <i nz-icon nzType="facebook" nzTheme="outline"></i>
            </div>
            <div class="image-berita">
              <img style="width:100%" src="../../../assets/img/pilpres.jpg" alt="">
            </div>
            <div class="pokok-berita">
              <div [innerHTML]="pokokBerita"></div>
            </div>
            <hr>
            <div class="related-post">
              <h4>Related Post</h4>
              <nz-list [nzDataSource]="headlineNewsData" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
                [nzLoading]="loading">
                <ng-template #item let-item>
                  <nz-list-item>
                    <nz-list-item-meta [nzTitle]="nzTitle" nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                      nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
                      <ng-template #nzTitle>
                        <a href="https://ng.ant.design">{{ item.title }}</a>
                      </ng-template>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-template>
              </nz-list>
            </div>
            <hr>
            <div class="komentar">
              <div class="title-komentar">
                KOMENTAR
              </div>
              <nz-comment>
                <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
                <nz-comment-content>
                  <nz-form-item>
                    <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                      Add Comment
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>
              <span>{{komentarData.length}} Komentar</span>
              <nz-list *ngIf="komentarData.length" [nzDataSource]="komentarData" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                  <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                  </nz-comment>
                </ng-template>
              </nz-list>
              <hr>
              <div class="section-heading">
                  <h5>Berita Terbaru</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="section-heading">
            <h5>Advertiser</h5>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </nz-content>
</nz-layout>