img.socmed-icon {
  width: 30px;
  margin-right: 5px;
  cursor: pointer;
}
.post-catagory {
  color: #007bff;
}

.post-thumb {
  img {
    padding: 5px;
    width: 140px;
    height: 140px;
    object-fit: cover;
  }
}
.post-meta {
  h2 {
    color: #000000;
    font-weight: 600;
  }

  h2:hover {
    color: #bb071c;
  }
}
