.berita-utama {
  padding: 12px 10px;
  margin: 0;
  border-bottom: solid 1px #13265b;
  border-top: solid 1px #2346a8;
}

.berita-optional {
  padding: 12px 10px;
  margin: 0;
  border-top: solid 1px #e0e0e0;
}

.berita-kecil-sider {
  padding: 12px 10px;
  margin: 0;
  border-top: solid 1px #e0e0e0;

  .post-thumb-kecil {
    img {
      padding: 5px;
      width: 84px;
      height: 63px;
    }
  }

  .post-data-kecil {
    cursor: pointer;
  }
}
