.berita-utama {
  padding: 12px 10px;
  margin: 0;
  border-bottom: solid 1px #13265b;
  border-top: solid 1px #2346a8;
}

.berita-optional {
  padding: 12px 10px;
  margin: 0;
  border-top: solid 1px #e0e0e0;
}

.post-catagory {
  color: #007bff;
}
