@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.ant-affix {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 1583px;
  height: fit-content;
  background-color: white;
}
.ads-header {
  width: 728px;
  height: 90px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5%;
  float: right;
}
.img-main-ads {
  padding: 5%;
  width: 90%;
  height: 250px;
  margin: 1% auto;
}

.post-data{
  float: right;
  padding: 2px;
  cursor: pointer;
}

.post-thumb {
  img {
    padding: 5px;
    width: 140px;
    height: 140px;
  }
  video {
    padding: 5px;
    width: 100%;
    height: 140px;
  }
}

.post-date {
  font-size: 14px;
  color: #959595;
}

.post-meta {
  h6 {
    color: white;
  }
}

.section-heading {
  position: relative;
  z-index: 1;
  border-bottom: solid 4px #fe8917;
  background-color: #274cb3;
  h5 {
      font-size: 16px;
      margin-bottom: 0;
      line-height: 45px;
      height: 45px;
      min-width: 140px;
      padding: 0 30px;
      color: #fff;
      font-weight: 700;
      display: inline-block;
      text-align: center;
  }
}

.advertiser-sider {
  margin-bottom: 2%;
  img{
    width: 100%
  }
}

.content-1 {
  background-color: #fff;
  margin-bottom: 2%;
}